DB_URL=jdbc:mysql://localhost:3306/gcdb?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=
DB_PASSWORD=
SERVER_PORT=8081
JWT_SECRET=
JWT_ACCESS_EXP_MIN=60
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
