

.channel-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.channel-item {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.channel-item:hover {
  background-color: #f0f0f0;
}
